@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes slowZoomOut {
    from {
      transform: scale(1.1); /* Start slightly zoomed in */
    }
    to {
      transform: scale(1); /* Gradually zoom out to normal */
    }
  }
  
  .slow-zoom-out {
    animation: slowZoomOut 10s ease-out infinite; /* 10s for slow zoom-out */
  }
  
  